[Unit]
Description=Cell-Growth API and frontend

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/cell-growth/
ExecStart=/home/ubuntu/cell-growth/.venv/bin/gunicorn --bind 127.0.0.1:5000 wsgi:app
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
