.noDisp {
	display: none !important;
}

.devlibButton {
    background: hsl(232, 100%, 97%);
    border: solid black 1px;
    border-radius: 3px;
    font-size: 10pt;
    user-select: none;
    cursor: pointer;
    margin: 2px;
}

.devlibButton:hover {
    background: hsl(232, 100%, 78%);
}

.devlibButton:active {
    background: hsl(232, 100%, 39%);
    color: white;
}