.basicIconButton {
        width: 32px;
        height: 32px;
        color: #5d5d5d;
        border: none;
        border-radius: 4px;
}

.basicIconButton:hover {
    color: black;
    border: solid gray 1px
}

.basicIconButton:active {
    color: white;
    background: black;
    border-color: black;
}

.toggleButton.on {
    color: white;
    background: black;
}

.toggleButton.on:hover {
    background: rgb(36, 36, 36);
}

.toggleButton:hover {
    border: solid black 1px;
    background: #f3f3f3;
}

.toggleButton {
    margin-bottom: 5px;
    border-radius: 4px;
    cursor: pointer;
    border: solid white 1px;
    font-size: 8pt;
    background: white;
    overflow: hidden;
    text-overflow: ellipsis;
    border: solid #b4b4b4 1px;
}


.devlibButton {
    background: hsl(232, 100%, 97%);
    border: solid black 1px;
    border-radius: 3px;
    font-size: 10pt;
    user-select: none;
    cursor: pointer;
    margin: 2px;
}

.devlibButton:hover {
    background: hsl(232, 100%, 78%);
}

.devlibButton:active {
    background: hsl(232, 100%, 39%);
    color: white;
}

.optionSelectLabel {
    padding-right: 5px;
    vertical-align: middle;
}

.optionSelectLabel:after {
    content: ':';
}

.optionSelectSelect {
    background: white;
}

.valueHeader {
    vertical-align: middle;
}