.detailedPoint {
    r: .5;
    opacity: .6;
}

.IQR-Box {
    stroke: #1565c0;
    stroke-width: 2px;
    /* fill:blue; */
    fill-opacity: 0;
}

.boxplotMedianLine {
    stroke: firebrick;
    stroke-width: 2px;
}

.boxplotWhiskers {
    stroke: #1565c0;
    stroke-width: 1px;
}

.boxplotWhiskerEnds {
    stroke: #1565c0;
    stroke-width: 2px;
}

.boxplotStatsPopup {
    position: absolute;
    background: #f7f7f7;
    padding: 10px;
    border: solid black 1px;
    box-shadow: 1px 1px 2px 0px grey;
}