.boxplot-container .outline {
    stroke: white !important;
    opacity: 0.5;
}

.IQR-Box {
    /* stroke: #1565c0; */
    /* stroke: #102742; */
    stroke: black;
    stroke-width: 2px;
    /* fill:blue; */
    fill-opacity: 0;
}
.IQR-Box.selection {
    stroke: firebrick;
}
.IQR-Box.outline {
    stroke-width: 4px;
}

.boxplotMedianLine {
    stroke: black;
    stroke-width: 2px;
}
.boxplotMedianLine.selection {
    stroke :firebrick
}
.boxplotMedianLine.outline {
    stroke-width: 4px;
}


.boxplotWhiskers {
    stroke: black;
    /* stroke: #1565c0; */
    stroke-width: 1px;
}
.boxplotWhiskers.selection {
    stroke: firebrick;
}
.boxplotWhiskers.outline {
    stroke-width: 4px;
}

.boxplotWhiskerEnds {
    stroke: black;
    /* stroke: #1565c0; */
    stroke-width: 2px;
}
.boxplotWhiskerEnds.selection {
    stroke: firebrick;
}
.boxplotWhiskerEnds.outline {
    stroke-width: 4px;
}

.boxplotStatsPopup {
    position: fixed;
    background: #f7f7f7;
    padding: 10px;
    border: solid black 1px;
    box-shadow: 1px 1px 2px 0px grey;
    z-index: 9001;
}