.imageTrackContainer {
    position: relative;
}

.cellTimelineInnerContainer {
    position: absolute;
    top: 30px;
    /* 20px height + 10px padding-top in trackModeTitleContainer */
    right: 0;
    /* If this margin changes, then ImageTrackWidget._cellTimelineMargin needs to be updated */
    margin: 36px 4px 4px 84px;
    outline: solid gray 1px;
}

.cellAxisLabel {
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
}

.cellAxisLabel.left {
    dominant-baseline: middle;
    text-anchor: end;
}

.cellAxisLabel.right {
    text-anchor: middle
}

.cellAxisLabel.rotated {
    text-anchor: middle;
    dominant-baseline: hanging;
}

.trackModeTitleContainer {
    text-align: center;
    height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #f1f1f1;
}

.pinLine {
    stroke: black;
    opacity: 0.3;
    stroke-width: 1;
}

.pinLine.selected {
    opacity: 1;
    stroke-width: 2;
}

.pinHead {
    fill: grey;
    stroke: black;
    opacity: 0.6;
    /* r: 3; */
    cursor: grab;
}

.grabbed {
    cursor: grabbing !important;
}

.pinHead.manual {
    fill: goldenrod;
    r: 5;
}

.pinHead.selected {
    /* r: 5; */
    opacity: 1;
}

.pinHead.selected.manual {
    r: 7;
}

.exemplarCurve {
    stroke-width: 1;
    fill: none;
    stroke-linejoin: round;
}

.exemplarCurve.selected {
    stroke-width: 2;
}

.averageCurve {
    stroke-width: 3;
    fill: none;
    stroke-linejoin: round;
}