.innerContainer {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    align-items: center;
}

.thumbnailsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
    overflow: scroll;
    padding: 5px;
    justify-content: center;
    background: #ebebeb;
}

.imageStackThumbnail {
    margin: 1px;
}

.imageStackThumbnail.selected {
    outline: solid firebrick 2px;
    box-shadow: 0px 0px 7px 0px white;
}

.imageStackThumbnail:hover {
    outline: solid steelblue 2px;
    box-shadow: 0px 0px 7px 0px white;
}
.imageStackThumbnail:not(.brushed) {
    opacity: 0.1;
}

.centroidIndicator {
    fill-opacity: 0;
    r: 2;
}

.centroidIndicator.inBrush {
    fill-opacity: 1;
    fill: #eb2828;
}

.imageStackTooltipContainer {
    margin: 10px;
}

.tooltipDisplayRow {
    margin: 0px;
}