.innerContainer {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    align-items: center;
    flex-grow: 1;
    margin: 10px;
}

.locationFrameLabel {
    font-size: 12pt;
    font-weight: normal;
}

.locationFrameLabelValue {
    font-weight: bold;
    margin-right: 20px;
}

.toggleOptions {
    margin: 5px;
}

.cellAxisLabel.currentFrame {
    font-size: 18pt;
    font-weight: 700;
    fill: #0f531c;
}
.cellAxisLabel.hovered.currentFrame {
    font-size: 19pt;
}

.cellAxisLabel.hovered {
    font-size: 14pt;
    font-weight: 600;
}

.cellAxisLabel.hovered.rotated {
    font-size: 12pt;
    font-weight: 600;
}

.invert {
    filter: invert();
}