.innerContainer {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    align-items: center;
    flex-grow: 1;
    margin: 10px;
}

.locationFrameLabel {
    font-size: 12pt;
    font-weight: normal;
}

.locationFrameLabelValue {
    font-weight: bold;
    margin-right: 20px;
}