.frame {
	display: flex;
	flex-basis: 0;
}

.dir-row {
	flex-direction: row;
}

.dir-col {
	flex-direction: column;
}

.frame.with-border.dir-row {
	border-bottom: solid rgb(190, 190, 190) 1px;
}

.frame.with-border.dir-col {
	border-right: solid rgb(190, 190, 190) 1px;
}