html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.fullpage {
	/*background: lightgray;*/
	width: 100%;
	height: 100%;
}

.notImplementedWarning {
    text-align: center;
    vertical-align: middle;
    border: solid #d81515 4px;
    flex-grow: 1;
    margin: 4px;
    padding: 30px;
    word-break: break-all;
}

/* Toolbar */

button, option, select {
    font-family: 'Montserrat', sans-serif;
}

.wrapperDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2px;
    flex-grow: 1;
    background: rgba(255, 228, 196, 0.356);
}

.toolbarPopup {
    position: absolute;
    background: #fff5ea;
    display: flex;
    border: solid #888888 1px;
    z-index: 99;
    width: 800px;
    top: 180px;
    left: 50px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: hsl(0deg 0% 53%) 2px 2px 4px 0px;
    flex-direction: row;
}

.filterDisplayContainer {
    width: 400px;
    text-align: center;
}

.filterDisplayContainer ul {
    text-align: left;
    list-style-type: square;
}

.filterDisplayContainer li {
    margin-bottom: 6px;
    padding-bottom: 6px;
}

.miniCell {
    opacity: 0.3;
}

.miniCell.inFilter {
    opacity: 1.0;
}

.miniBox {
    stroke: #afafaf;
    stroke-width: 1;
    fill: white;
}

.miniExemplarCurve {
    stroke: #252525;
    stroke-width: 2px;
    fill: none;
    stroke-linejoin: bevel;
}

.miniExemplarCurve.selection {
    stroke: firebrick;
    stroke-opacity: 0.6;
}

.y.axisButtonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.y.axisButtonContainer button {
    text-overflow: ellipsis;
    overflow: hidden;
}


.optionSelectGrouperDiv {
    display: flex;
    flex-direction: column;
    margin-top: 1px;
    margin-bottom: 1px;
    border-top: solid gray 2px;
    border-bottom: solid gray 2px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.optionSelectGrouperDiv:hover {
    background: rgba(255, 228, 196, 0.556);
    border-left: solid grey 1px;
    border-right: solid grey 1px;
}

.exampleHeaderOuter {
    margin-left: 20px;
    margin-right: 10px;
    font-size: 15pt;
}

.exampleButton {
    text-align: center;
    max-height: 24px;
}

text.labelColor {
    fill: #4e4e4e;
}

.labelColor {
    color: #4e4e4e;
}

.hoveredArea {
    background: hsla(240, 4%, 93%, 1);
    box-shadow: 3px 3px 2px 0px #0000004d;
}

.brushContainer .selection {
    /* brush rectangle*/
    stroke: firebrick;
    fill: firebrick;
    stroke-width: 1px;
    stroke-opacity: .6;
    fill-opacity: .25;
}


/*for class rush*/

.youtubeLink {
    background: white;
    border: solid black 0px;
    border-radius: 3px;
    font-size: 16pt;
    user-select: none;
    cursor: pointer;
    margin: 2px;
    padding: 6px 11px;
}


.youtubeLink:hover {
    background: #e0e7f0; /*lighter than lightbluesteel*/
}

.youtubeLink:active {
    background: lightsteelblue;
}

.videoContainer {
    /* the video is 560 x 315*/
    background-opacity: .75; 
    position: absolute;
    left: calc(50% - 280px);
    top: calc(50% - 157.5px);
    width: 560px;
    height: 315px;
}

.shieldBackground {
    background: black;
    opacity: .5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
