.titleBarContainer {
    display: flex;
    background: #f1f1f1;
    position: absolute;
    width: 100%;
    height: 32px;
    align-items: center;
}

.quickPickContainer {
    margin-right: 36px;
}

.applyButtonContainer {
	position: absolute;
    right: 0;
    bottom: 0;
	 margin: 6px;
}

.miniCell {
    opacity: 0.3;
}

.miniCell.inFilter {
    opacity: 1.0;
}

.miniBox {
    stroke: black;
    stroke-width: 0;
    /* fill is needed for mouse events. But we don't actually want it to show. */
    fill: white;
    fill-opacity: 0;
}

.miniBox.hovered {
    stroke-width: .5;
}

.miniExemplarArea {
    fill: rgb(236, 236, 236);
}

.miniExemplarCurve {
    fill: none;
    stroke-linejoin: bevel;
    stroke-width: 1px;
    opacity: 1.0;
}

.inFilter .miniExemplarCurve {
    opacity: 0.6
}

.miniExemplarCurve.active {
    stroke-width: 2px;
}

.inFilter .miniExemplarCurve.active {
    opacity: 1;
}

.y.axisButtonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.y.axisButtonContainer button {
    text-overflow: ellipsis;
    overflow: hidden;
}