<!doctype html>
<title>Loon - {{datasetId}}</title>
<link rel="icon" type="image/png" sizes="256x256" href="/static/assets/favicon-256.png">
<link rel="icon" type="image/png" sizes="64x64" href="/static/assets/favicon-64.png">
<link rel="icon" type="image/png" sizes="48x48" href="/static/assets/favicon-48.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/assets/favicon-32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/assets/favicon-16.png">
<link rel="shortcut icon" href="/static/assets/favicon.ico">
<link rel="stylesheet" href="{{ url_for('static', filename='style/core.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/LayoutFramework.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/MetricDistributionWidget.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/mtat.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/Plot2dPathsWidget.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/ImageSelectionWidget.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/ImageStackWidget.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/ImageTrackWidget.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/DetailedDistributionWidget.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/RichTooltip.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='script/src/devlib/DevlibUtil.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='script/src/devlib/DevlibBasics.css') }}">
{% if deploy%}
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
{% endif %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/de8d467ef5.js"></script>

<div id='metaContainer' data-dataset='{{datasetId}}' class='container fullpage'></div>

<script type="module" src="{{ url_for('static', filename='script/dist/bundle.js') }}"></script>
