<!doctype html>
<title>Loon - Overview</title>
<link href="https://unpkg.com/lineupjs/build/LineUpJS.css" rel="stylesheet">
<script src="https://unpkg.com/lineupjs/build/LineUpJS.js"></script>
{% if deploy%}
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
{% endif %}
<style>

body {
  margin: 0;
  padding: 0;
}

.lu {
  clear: both;
  position: absolute;
  top: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
}

</style>

<script type="module" src="{{ url_for('static', filename='script/dist/setupTable.js') }}"></script>
